DATABASE_URL=jdbc:mysql://localhost:3306/urlshortenerdb
DATABASE_USERNAME=root
DATABASE_PASSWORD=your_mysql_password
DATABASE_DIALECT=org.hibernate.dialect.MySQLDialect
JWT_SECRET=replace_with_a_long_base64_secret
JWT_EXPIRATION=86400000
FRONTEND_URL=http://localhost:5173

